
.l4t-popup-button {
	font-size: large !important;
	font-weight: 100 !important;
	min-width: 35px !important;
}

.l4t-send-button {
	font-size: x-large !important;
	font-weight: 100 !important;
	min-width: 40px !important;
	margin: 5px 0px 5px 0px !important;
	padding: 0px 5px 0px 5px !important;
}

.l4t-send-button:disabled {
	filter: grayscale(1) !important;
	font-size: x-large !important;
	font-weight: 100 !important;
	min-width: 40px !important;
	margin: 5px 0px 5px 0px !important;
	padding: 0px 5px 0px 5px !important;
}

.l4t-close-button {
	font-size: large !important;
	font-weight: 100 !important;
	margin: 5px 0px 5px 0px !important;
	padding: 0px 5px 0px 5px !important;
}

.l4t-panel {
  background-color: var(--color-background-base)!important;
  border-bottom: var(--border-width-default) solid var(--color-border-base)!important;
}

.l4t-hash-label {
  font-family: monospace !important;
  color: #666666 !important;
  padding-top: 8px !important;
}

.l4t-editor-window {
	height: 300px;
  min-height: 300px !important;
}

.l4t-copy-code-button {
	float: right;
}

.l4t-copy-code-button[show=true] {
	float: right;
	filter: invert(100%); 
}

.l4t-copy-code-button:active {
	filter: invert(70%) !important;
	float: right;
}

.tw-link:link,
.tw-link:visited,
.tw-link:hover {
  text-decoration: none !important;
  color: cornsilk !important;
}

.l4t-yt-image {
  width:300px;
  height: 53px;
  border-radius: 10px;
  padding: 37px 3px 0px 10px;
  font-size: xx-small;
  color: cornsilk;
  text-align: right;
  text-shadow: -1px 1px #000;
  text-decoration: none;
}

.l4t-speechable:hover {
  color: #ff7a59;
  border: #6d3535 solid 1px;
  background:#313131;
}

/* override tomorrow night bright's theme setup */
.CodeMirror {
  min-height: 300px !important;
  background-color:var(--color-background-base)!important;
}

.cm-s-tomorrow-night-bright .CodeMirror-cursor {
  border-left: 1px solid #fff !important;
}

.CodeMirror-gutters {
  background-color:var(--color-background-base)!important;
}

.CodeMirror-linenumbers {
  background-color:var(--color-background-base)!important;
}

/* wrap the line of code */
pre, code {
  border-radius: 4px;
  white-space: pre-wrap;
}
