.l4t-popup-button {
  font-size: large !important;
  font-weight: 100 !important;
  min-width: 35px !important;
}

.tw-root--theme-dark 
.l4t-popup-button {
  background-color: #2f2f2f !important;
  color: cornsilk !important;
}

.tw-root--theme-dark 
.l4t-popup-button:hover {
  background-color: #6a6a6a !important;
}

.l4t-preview-window {
  /* don't wrap on white space, also prevent the flex box eating the white spaces */
  /* white-space: pre; */
  /* opacity: 0.9; */
  position: absolute;
  bottom: 150px;
  margin: 1em;
  font-size: 13px;
  visibility: visible;
  background-color: #000;
  color: #fff;
}

@keyframes l4t-fade-in {
  from { opacity : 0 }
  to { opcitry : 1 }
}

.l4t-url-image {
  margin-top: 3px;
  width: 100%;
  height: 183px;
  border-radius: 10px;
  padding: 165px 3px 0px 10px;
  font-size: xx-small;
  color: cornsilk;
  text-align: right;
  text-shadow: -1px 1px #000;
  text-decoration: none;
  line-height: 1;
  animation: l4t-fade-in 1s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.l4t-yt-image {
  margin-top: 3px;
  height: 53px;
  border-radius: 10px;
  padding: 37px 3px 0px 10px;
  font-size: xx-small;
  color: cornsilk;
  text-align: right;
  text-shadow: -1px 1px #000;
  text-decoration: none;
  animation: l4t-fade-in 1s;
}

.tw-root--theme-dark 
.l4t-link, 
.l4t-link:hover {
  text-decoration: none;
}

.l4t-gis-desc,
.l4t-yt-title {
  line-height: 1.2;
  padding:0px 5px 0px 5px;
  font-size: x-small;
  text-align: center;
  text-shadow: -1px 1px #000;
  text-decoration: none;
  animation: l4t-fade-in 1s;
}

.tw-root--theme-dark 
.l4t-gis-desc,
.tw-root--theme-dark 
.l4t-yt-title {
  color: cornsilk;
}

.l4t-speechable:hover {
  color: #ff7a59;
  border: #6d3535 solid 1px;
  background:#313131;
}

.l4t-note {
  text-decoration:none;
  color:#000 !important;
  background:#ffb;
  display: block;
  width: 100%;
  padding:0.5em;
  margin:0.5em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.l4t-copy-note-button {
  align-self: flex-end;
  visibility: hidden;
}

.l4t-copy-note-button[show=true] {
  visibility: visible;
  filter: invert(100%); 
}

.l4t-copy-note-button:active {
  filter: invert(70%) !important;
}

.l4t-quote {
  display:block;
  justify-content: center;
  margin: 3px 1em 3px 1em;
  text-align: center;
  font: italic 1.3em Georgia, serif;
}

.l4t-quote span::before {
  /* content: '“'; */
  content: '« ';
}

.l4t-quote span::after {
  /* content: '”' */
  content: ' »'
}

